body{
    margin:0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    flex-direction: column;
}

.container{
    text-align: center;
}

button{
    padding:10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:active {
    transform: scale(1.1);
}

.progress {
    width: 200px;
    height: 10px;
    background: #ddd;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
}

#bar {
    height: 100%;
    width: 0%;
    background: green;
    transition: 0.5s;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

ul#history {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}